@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --main-night: #1e2a78;
    --sec-hl: #ff1f5a;
    --main-light: #ffd717;
    --sec-light: #f9ff21;
}

@media screen and (orientation : landscape){
    .main-cont {
        margin-top: 10vh;
        min-height: 90vh;
        background-image: linear-gradient(var(--main-light), var(--sec-light));
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #main-desc {
        padding: 0 10vw;
        color: var(--main-night);
        font-weight: 400;
        font-size: 1.4em;
    }
    
    .wrapper {
        width: 90%;
        height: auto;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .wrapper>div {
        flex-direction: column;
    }
    
    #left {
        width: 45%;
        padding: 2% 2%;
    }
    
    #right {
        width: 55%;
        padding: 2% 2%;
        font-size: 2.7vw;
        color: var(--main-night);
    }
    
    #right>iframe {
        width: 90%;
        height: 60vh;
        margin-top: 20px;
    }
    
    .card-cont {
        width: 100%;
        background: var(--main-night);
        min-height: 30vh;
        margin-top: 2%;
        border-radius: 5vh;
        height: auto;
        margin-bottom: 5vh;
    }
    
    .card {
        margin: 1.5vh;
        width: 100%;
        height: 100%;
        border: 2px solid var(--sec-hl);
        border-radius: 4vh;
        padding: 1.5vh;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start
    }
    
    .card>h6 {
        font-size: 2em;
        color: var(--sec-light);
        margin: 0;
    }
    
    .card input {
        background: transparent;
        border: 2px solid var(--sec-hl);
        margin: 2% 0;
        font-size: 1.3em;
        color: var(--sec-light);
        border-radius: 0.5em;
        padding: 1% 3%;
        width: 90%;
        font-weight: 500;
        transition: all 300ms linear;
    }
    
    .card input::placeholder {
        color: var(--sec-light);
        opacity: 0.8;
        font-weight: 400;
    }
    
    .card input:focus {
        border: 2px solid var(--sec-light);
        color: var(--sec-hl);
    }
    
    textarea {
        background: transparent;
        border: 2px solid var(--sec-hl);
        margin: 2% 0;
        font-size: 1.3em;
        color: var(--sec-light);
        border-radius: 0.5em;
        padding: 1% 3%;
        width: 90%;
        font-weight: 500;
        transition: all 300ms linear;
        resize: none;
        font-family: 'Poppins', sans-serif !important;
    }
    
    textarea::placeholder {
        color: var(--sec-light);
        opacity: 0.8;
        font-weight: 400;
        font-family: 'Poppins', sans-serif !important;
    }
    
    textarea:focus {
        border: 2px solid var(--sec-light);
        color: var(--sec-hl);
        font-family: 'Poppins', sans-serif !important;
    }
    
    .card > button{
        background: transparent;
        border: 2px solid var(--sec-hl);
        border-radius: 0.5em;
        color: var(--sec-light);
        font-size: 1.5em;
        padding: 1% 3%;
        margin: 2% 0;
        cursor: pointer;
        transition: all 300ms linear;
        font-weight: 500;
        letter-spacing: 0.2em;
    }
    
    .card > button:hover{
        background: var(--sec-light);
        color: var(--main-night);
        padding: 1% 6%;
        border: 0px solid var(--sec-hl);
    }
}

@media screen and (orientation : portrait){
    .main-cont {
        min-height: 90vh;
        background-image: linear-gradient(var(--main-light), var(--sec-light));
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #main-desc {
        padding: 0 10vw;
        color: var(--main-night);
        font-weight: 400;
        font-size: 1.4em;
    }
    
    .wrapper {
        width: 90%;
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .wrapper>div {
        flex-direction: column;
    }
    
    #left {
        width: 100%;
        padding: 2% 2%;
    }
    
    #right {
        width: 100%;
        padding: 2% 2%;
        font-size: 6vw;
        color: var(--main-night);
    }
    
    #right>iframe {
        width: 90%;
        height: 60vh;
        margin-top: 20px;
    }
    
    .card-cont {
        width: 100%;
        background: var(--main-night);
        min-height: 30vh;
        margin-top: 2%;
        border-radius: 5vh;
        height: auto;
        margin-bottom: 5vh;
    }
    
    .card {
        margin: 1.5vh;
        width: 100%;
        height: 100%;
        border: 2px solid var(--sec-hl);
        border-radius: 4vh;
        padding: 1.5vh;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start
    }
    
    .card>h6 {
        font-size: 2em;
        color: var(--sec-light);
        margin: 0;
    }
    
    .card input {
        background: transparent;
        border: 2px solid var(--sec-hl);
        margin: 2% 0;
        font-size: 1.3em;
        color: var(--sec-light);
        border-radius: 0.5em;
        padding: 1% 3%;
        width: 90%;
        font-weight: 500;
        transition: all 300ms linear;
    }
    
    .card input::placeholder {
        color: var(--sec-light);
        opacity: 0.8;
        font-weight: 400;
    }
    
    .card input:focus {
        border: 2px solid var(--sec-light);
        color: var(--sec-hl);
    }
    
    textarea {
        background: transparent;
        border: 2px solid var(--sec-hl);
        margin: 2% 0;
        font-size: 1.3em;
        color: var(--sec-light);
        border-radius: 0.5em;
        padding: 1% 3%;
        width: 90%;
        font-weight: 500;
        transition: all 300ms linear;
        resize: none;
        font-family: 'Poppins', sans-serif !important;
    }
    
    textarea::placeholder {
        color: var(--sec-light);
        opacity: 0.8;
        font-weight: 400;
        font-family: 'Poppins', sans-serif !important;
    }
    
    textarea:focus {
        border: 2px solid var(--sec-light);
        color: var(--sec-hl);
        font-family: 'Poppins', sans-serif !important;
    }
    
    .card > button{
        background: transparent;
        border: 2px solid var(--sec-hl);
        border-radius: 0.5em;
        color: var(--sec-light);
        font-size: 1.5em;
        padding: 1% 3%;
        margin: 2% 0;
        cursor: pointer;
        transition: all 300ms linear;
        font-weight: 500;
        letter-spacing: 0.2em;
    }
    
    .card > button:hover{
        background: var(--sec-light);
        color: var(--main-night);
        padding: 1% 6%;
        border: 0px solid var(--sec-hl);
    }
}